.header {
  width: 950px;
  margin: 0 auto;
}

.banner {
  width: 950px;
  margin: 0 auto;
}

.buycar {
  width: 950px;
  margin: 0 auto;
}

.buycar tr {
  border-bottom: 1px solid #D6D3D3;
  background: #fff4e8;
}

.buycar tr .td1 {
  text-align: center;
  line-height: 25px;
  padding-right: 250px;
}

.buycar tr .td1 .p1 {
  float: left;
  display: inline-block;
  width: 50px;
  height: 120px;
}

.buycar tr .td1 .p2 {
  float: left;
  font-size: 12px;
  margin-top: 10px;
}

.buycar tr .td1 .p3 {
  float: left;
  font-size: 12px;
  margin-top: 20px;
}

.buycar tr .td2 {
  padding-right: 100px;
}

.buycar tr .td3 {
  padding-right: 50px;
}

tr, td {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
