@charset "UTF-8";
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 10px 0;
}

.list {
  overflow: hidden;
}

.list li {
  float: left;
  width: 200px;
  height: 320px;
}

/*
	sass的使用
	* 兼容所有css语法
	* 变量、嵌套、混合、继承等
 */
#header {
  background: #333333;
  position: relative;
  height: 90px;
}

#header .top1 {
  float: left;
  color: #D7D7D7;
  line-height: 34px;
  height: 34px;
  font-size: 12px;
}

#header .top1 li {
  float: left;
  padding: 0 5px;
}

#header .top1 li:nth-child(2) {
  padding-left: 16px;
}

#header .top1 li:nth-child(2) i {
  display: inline-block;
  width: 16px;
  height: 17px;
  background: url(../img/1.fw.png) no-repeat 0 0;
}

#header .top1 li:nth-child(3) {
  padding-left: 15px;
}

#header .top1 li:nth-child(3) i {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/1.fw.png) no-repeat -33px 0;
}

#header input {
  float: right;
  display: inline;
  height: 26px;
  line-height: 26px;
  margin-top: 10px;
  padding: 0 34px 0 8px;
  color: #787878;
  border: 1px solid #787878;
  background: #333;
  font-size: 12px;
  width: 219px;
}

#header .logo {
  position: absolute;
  left: 484px;
  top: 10px;
}

#header .top2 {
  display: block;
  position: absolute;
  left: 283px;
  top: 44px;
}

#header .top2 li {
  float: left;
  padding: 12px 15px 10px;
  margin: 0 6px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
}

#header .top2 li:hover {
  border-bottom: 2px solid #727071;
}

#header .top2 li:hover a {
  color: #bfbfbf;
}

#nav {
  height: 41px;
  background: #F7F7F7;
}

#nav .nav_a {
  padding-left: 283px;
}

#nav .nav_a li {
  float: left;
}

#nav .nav_a li a {
  display: inline-block;
  height: 41px;
  line-height: 42px;
  font-size: 14px;
  color: #000;
  cursor: default;
  width: 60px;
  text-align: center;
  position: relative;
}

#banner div:nth-child(3) {
  margin-top: -10px;
}

#wrap .enterwrap {
  background: #CD645E;
  padding: 53px 0 0 21px;
}

#wrap .enterwrap div {
  margin-bottom: 10px;
  padding-top: 10px;
}

#wrap .enterwrap ul li {
  float: left;
  width: 565px;
  margin: 0 20px 15px 0;
}

#wrap .goodwrap h2 {
  padding-top: 30px;
  padding-left: 84px;
  text-align: center;
  background: #C23D36;
}

#wrap .goodwrap .top_1 {
  padding-top: 50px;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 0 35px;
  border: 1px solid #9b312b;
}

#wrap .goodwrap .gdul1 {
  width: auto;
  padding: 15px 0 0 64px;
  overflow: hidden;
  margin-top: -15px;
}
